.container{
    display: flex;
    /* border:1px solid red; */
    width: 100%;
    /* margin-top: 5%; */
    text-align: left;
    height: 400px;
    cursor: pointer;
}
.carecontainer>h1{
    font-size: 30px;
    font-weight: 400;
   margin-left: 40%;
   color:   white;
   
  }
  
  .headstyle>a{
    text-decoration: none;
     color:   white;
  }
.linecare{
  
    margin-left: -2%;
    border:  1px solid white;
    width:15%;
    background-color: white ;
   
  }
.leftcare{
    /* border:1px solid red; */
    width: 50%;
    height: 350px;
    margin-left: 50px; 
 
    /* margin-top: 10%; */
    
    border-radius: 10px;
}
.leftcare>img{
    width: 100%;
    border-radius: 10px;
    height: 350px;
}
.rightcare{
     background-color: white;
    /* border:1px solid red; */
    width: 40%;
    margin-top:2%;
    height: 290px;
    margin-left: -65px;
    padding-left: 3%;
    padding-top:1%;
    border-radius: 10px;

}
.rightcare>h2{
    font-weight: 450;
    cursor: pointer;
  }
.rightcare> p{
   font-size: 18px;
   font-weight: 400;
   color: rgb(51,51,51);
  }
.rightcare>p:nth-child(3){
    color: rgb(254,92,117);
    font-size: 16px;
    cursor: pointer;
  }
  .rightcare>p:nth-child(3):hover{
    text-decoration: underline;
  }
.sub-care{
    /* border:1px solid red; */
    width: 100%;
    /* margin-top: 5%; */
    text-align: left;
    height: 200px;
    display: flex;
}
.dyeimg{
    /* border:1px solid red; */
    width: 25%;
    height: 200px;
    border-radius: 10px;
    text-align: left;
  
    margin-left: 50px; 

}
.dyeimg>img{
    /* border:1px solid red; */
    width: 100%;
    height: 83%;
    border-radius: 10px;
    text-align: left;
}
.dyetext{
    /* border:1px solid green; */
    width: 25%;
    margin-top: 1.5%;
    height: 133px;
    border-radius: 10px;
    text-align: left;
    margin-left: -90px; 
    background-color: white;
    padding-left: 2%;
   
}
.dyetext>p{
    font-weight: 480;
    font-size:19px ;
    cursor: pointer;
}
.shinyimg{
    /* border:1px solid red; */
    width: 25%;
    height: 200px;
    border-radius: 10px;
    text-align: left;
    margin-left: 50px; 
}
.shinyimg>img{
    /* border:1px solid red; */
    width: 100%;
    height: 83%;
    border-radius: 10px;
    text-align: left;
}
.shinytext{
    /* border:1px solid green; */
    width: 25%;
    margin-top: 1.5%;
    height: 133px;
    border-radius: 10px;
    text-align: left;
    margin-left: -90px; 
    background-color: white;
    padding-left: 2%;
  
   
}
.shinytext>p{
    font-weight: 480;
    font-size:19px ;
    cursor: pointer;
}
.shinytext>p:nth-child(2){
    font-weight: 500;
    color: rgb(254,92,117);
    font-size: 16px;
    cursor: pointer;
}


.carecontainer{
    /* display: flex; */
    /* border:1px solid blue; */
    width: 100%;
    margin-top: 5%;
    text-align: left;
    height: 850px;
    background-color: rgb(254,92,116);
    cursor: pointer;
}
.readcare{
    /* border:1px solid blue; */
    width: 20%;
    margin-left: 550px;
    padding-left: 35%;
    padding-top:6%;
    color:  white
}
.readcare>p{
    color:white;
    font-size: 20px;
  
    /* margin-left: 45%; */
  }