h1{
    font-size: 30px;
    font-weight: 400;
   
  }
  .hsmdcontainer{
    /* justify-content: center;
    align-items: center; */
    /* border: 1 px solid blue; */
    height: 200%;
    
 

  }
  .hssubcontainer2{
    height: 1900px;
    /* border: 1 px solid green; */
  }
   .hsline{
    color:  rgb(254,92,117);
    margin-left: 46%;
    border: 1px solid rgb(254,92,117);
    width:7%;
    background-color:rgb(254,92,117) ;
   
  }
   .hsbtn{
    color:  rgb(254,92,117);
    margin-left: -7%;
    /* border: 1px solid rgb(254,92,117); */
    width:100%;
    height: 70px;
    align-items: left;
    justify-content: left;
  
   }
   
   .hsbtn>button{
    color:   rgb(150, 145, 145);
    margin-left: 2%;
    border: 2px solid rgb(254,92,117);
    background-color: white;
    border-radius: 10px;
    width:13%;
    height: 55px;
    margin-top: 1%;
  
   }
  
   .hsbtn>button:hover{
    background-color: rgb(254,92,117);
    color: white;
    border: 1px solid rgb(254,92,117);
   
  
   }
   .hwbtn2{
    color:  rgb(254,92,117);
    margin-left: -7.5%;
    /* border: 1px solid rgb(254,92,117); */
    width:100%;
    height: 70px;
    align-items: left;
    justify-content: left;
  
   }
   .hwbtn2>button{
    color:  rgb(150, 145, 145);
    margin-left: 2%;
    background-color: white;
    border: 2px solid rgb(254,92,117);
    border-radius: 10px;
    width:13%;
    height: 55px;
    margin-top: 1%;
  
   }
   .hwbtn2>button:hover{
    background-color: rgb(254,92,117);
    color: white;
    border: 1px solid rgb(254,92,117);

   
   }
   .hsdiy{
    width: 90%;
    height: 580px;
    /* border: 1px solid rgb(254,92,117); */
    margin-top: 8%;
    margin-left: 5%;
    align-items: left;
    justify-content: left;
    display: flex;
   }
   .hsdiyimg{
    width: 120%;
    height: 100%;
    /* border: 1px solid blue; */
    
    margin-left: 1%;
   }
   .hsdiytext{
    width: 100%;
    height: 70%;
    /* border: 1px solid blue; */
    background-color: rgb(249,249,249);
    /* margin-left: 11%; */
    padding-top: 15%;
   }
   .hsdiytext>p{
    font-size: 14px;
    font-weight: 550;
     
   }
   h2{
    font-weight: 450;
  }
  .hsdiytext>p1{
   font-size: 20px;
   font-weight: 350;
   
  }

  .hsmake-container2{
    display: flex;
    /* border:1px solid red; */
    width: 100%;
    margin-top: 5%;
   
    height: 520px;
  }
  
  .hsmake-container2>div{
    /* border:1px solid red; */

    width: 28%;
    height: 400px;
    margin-left: 50px; 
  }
  .hsmake-container2>div>p:nth-child(2){
    color:  rgb(51,51,57);
    /* text-align: center; */
    font-size: 20px;
   padding-left: 10%;
    font-weight: 500;
  }
  .hsmake-container2>div>p:nth-child(3){
    /* color: rgb(254,92,117); */
    color: rgb(131, 125, 125);
    font-size: 17px;
  }
  .hscollection{
    margin-top: 5%;
    display: grid;
     margin-left: 5%;
    width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 25px;
         
    
    
  }
  .hscollection>div{
    /* border:1px solid red; */
     
  }
  .hscollection>div>p1:nth-child(2){
    color: rgb(51,51,57);
    font-size: 20px;
    font-weight: 500;
    padding-left: 10%;
  }
  .hscollection>div>p1:nth-child(3){
    color:  red;
    /* font-size: 10px; */
  }
  .hsdiy1{
    width: 90%;
    height: 400px;
    border: 1px solid rgb(254,92,117);
    margin-top: 8%;
    margin-left: 5%;
    align-items: left;
    justify-content: left;
    display: flex;
  }
 